                    <hr class="hr-line">
                    <h3 class="title" style="font-size:30px;">
                        {% if site.email %}<a class="social-btn" href="mailto:{{ site.email }}" target="_blank" rel="noopener noreferrer"><i class="fa fa-fw fa-envelope-square"></i></a>{% endif %}
                        {% if site.qq %}<a class="social-btn" href="http://shang.qq.com/email/stop/email_stop.html?qq={{ site.qq }}" target="_blank" rel="noopener noreferrer"><i class="fa fa-fw fa-qq"></i></a>{% endif %}
                        {% if site.zhihu %}<a class="social-btn" href="http://www.zhihu.com/people/{{ site.zhihu }}" target="_blank" rel="noopener noreferrer"  style="font-size:25px;">&nbsp;知&nbsp;</i></a>{% endif %}
                        {% if site.tieba %}<a class="social-btn" href="http://tieba.baidu.com/f?kw={{ site.tieba }}" target="_blank" rel="noopener noreferrer"><i class="fa fa-fw fa-paw"></i></a>{% endif %}
                        {% if site.steam %}<a class="social-btn" href="http://steamcommunity.com/id/{{ site.steam }}" target="_blank" rel="noopener noreferrer"><i class="fa fa-fw fa-steam-square"></i></a>{% endif %}
                    </h3>
